<!DOCTYPE html>
<html>
  <head>
    <title>Trading Bot Dashboard</title>
    <style>
      .dashboard-iframe {
        width: 100vw;
        height: 90vh;
        border: none;
      }
    </style>
  </head>
  <body>
    <h1>Trading Bot Dashboard</h1>
    <iframe class="dashboard-iframe" src="http://localhost:8501"></iframe>
  </body>
</html>
